button.rounded-full {
  border-radius: 8px !important;
}

.group button.group\/quickBuyButton {
  border-radius: 6px !important;
}

/* logo */
@media (min-width: 640px) {
.sm\:w-\[24px\]
  {
    overflow: hidden;
  }
}

div>:has(>a[href="/discover?chain=sol"]):has(svg) .flex.flex-row.items-center::before {
  max-width: 126px;
}



/* TOAST ALERTS */
[data-rht-toaster] button.cursor-pointer:has(span) {
  width: 72px;
  height: 36px;
}

[data-rht-toaster] .animate-enter {
  height: 52px !important;
}



/* WATCHLIST PRICE CHART */
.hidden.sm\:block .grayscale-\[30\%\] {
  background: var(--background) !important;
}

#rem-watchlist-container:hover {
  filter: brightness(1.16) !important;
  border: 1px solid rgb(var(--secondary-stroke) / 35%) !important;
}



/******** PULSE ********/

/* pulse tracker button spacing (New, Stretch, Migrated) */
.flex.flex-col.overflow-hidden.bg-backgroundSecondary:not(:has([data-live-trades-content="true"])) >
.relative.bg-backgroundSecondary.cursor-move > .flex.flex-row.h-full > button {
  padding-right: 32px;
}

/* pump v1 span */
.pointer-events-none.fixed.z-\[99999\].translate-x-\[-50\%\].translate-y-\[-100\%\] {
  z-index: 2222;
}

/* hide token button */
button.absolute.z-50.opacity-0.group-hover\:opacity-100:has(.ri-eye-off-line) {
  scale: 1.5;
}

/* blacklist dev button */
button.absolute.z-50.opacity-0.group-hover\:opacity-100:has(.icon-chefhat-off) {
  display: none;
}

/* blacklist twitter profile button */
div[style*="height"] > div[style*="position: absolute"] button:has(.icon-at-off-line) {
  display: none;
}

/* no scrollbar */
.flex.h-full .relative.flex.w-full.flex-1 > .absolute.inset-0.overflow-y-auto {
  scrollbar-width: none;
}




/* PULSE TWITTER PREVIEW */

div[style*="height"] > div[style*="position: absolute"] .ri-quill-pen-line,
div[style*="height"] > div[style*="position: absolute"] .ri-user-line,
div[style*="height"] > div[style*="position: absolute"] .ri-group-3-line {
  position: relative;
}

div[style*="height"] > div[style*="position: absolute"] .ri-quill-pen-line::after,
div[style*="height"] > div[style*="position: absolute"] .ri-user-line::after,
div[style*="height"] > div[style*="position: absolute"] .ri-group-3-line::after {
  content: "";
  position: absolute;
  left: -80px;
  right: -12px;
  bottom: -80px;
  top: 27px;
  height: 300%;
}

div[style*="height"] > div[style*="position: absolute"] [class^="icon"],
div[style*="height"] > div[style*="position: absolute"] [class^="ri-"],
div[style*="height"] > div[style*="position: absolute"] :has( > a) {
  z-index: 2 !important;
}

div[style*="height"] > div[style*="position: absolute"]
div.hidden.sm\:flex.lg\:hidden:has(.h-\[24px\]) {
  pointer-events: none !important;
}

/* twitter preview modal */
.pointer-events-auto.fixed.z-\[9999\] {
  margin-top: 1.35%;
  margin-bottom: 0.6%;
  margin-left: 2.85%;
  scale: 0.95;
  .relative.overflow-y-auto {
    width: 380px;
  }
}




/******** WALLET TRACKER ********/

.flex.flex-col.overflow-hidden.bg-backgroundSecondary:has([data-live-trades-content="true"]) {
    width: 300px !important;
}

/* wallet tracker sidebar scrollbar */
.flex.h-full.w-full.overflow-y-auto {
    scrollbar-width: none;
}

/* wallet tracker sidebar wallets */
.flex.flex-col.overflow-hidden.bg-backgroundSecondary:has([data-live-trades-content="true"])
.flex.flex-row.justify-start.items-center.flex-1.min-w-\[88px\] {
    min-width: 105px !important;
    max-width: 105px !important;
    overflow: hidden;
}

/* wallet tracker sidebar coin names */
.flex.flex-col.overflow-hidden.bg-backgroundSecondary:has([data-live-trades-content="true"])
.flex.flex-row.flex-nowrap.justify-start.items-center.flex-1.min-w-\[100px\] {
    min-width: 105px !important;
    max-width: 105px !important;
}

/* wallet tracker sidebar time */
.flex.flex-col.overflow-hidden.bg-backgroundSecondary:has([data-live-trades-content="true"])
.flex.flex-row.flex-nowrap.justify-start.items-center.flex-1.min-w-\[100px\] > span > span,
.flex.flex-col.overflow-hidden.bg-backgroundSecondary:has([data-live-trades-content="true"])
.flex.flex-row.flex-nowrap.justify-start.items-center.flex-1.min-w-\[100px\] > span {
    display: none
}

/* wallet tracker sidebar coin links */
[data-live-trades-content="true"] div[style*="position: absolute"] {
    a.group\/token {
      padding-top: 12px;
      padding-bottom: 12px;
      width: 115%;
      margin-right: -55px;
      margin-top: -11px;
      margin-bottom: -11px;
    }

    .flex.flex-row.flex-nowrap.justify-start.items-center.flex-1:has(a.group\/token) > span > span {
        z-index: -1;
        margin-left: 20px;
    }
}

/* wallet tracker quick buy button */
.flex.flex-col.overflow-hidden.bg-backgroundSecondary:has([data-live-trades-content="true"]) .absolute.right-2.z-10 {
    display: none;
}




/******** HOLDERS CONTAINER ********/

/* holders wallets list */
.flex.flex-col.w-full.min-w-0 > .flex.flex-row.w-full.flex-1.min-h-0.min-w-0.overflow-hidden .flex.flex-1.overflow-auto.min-h-0
div[style*="position: absolute"]:hover {
  background: rgb(var(--primary-color) / 0.05) !important;
}

/* dev wallet row under holders */
div[style*="position: absolute"]:has(img[alt="Developer"]),
div[style*="position: absolute"]:has(img[alt="Developer"]):hover {
    background: rgb(var(--primary-yellow) / var(--tw-text-opacity, 0.06)) !important;
}



/*********** BUBBLE MAPS** *********/

.flex-1.flex-col > .flex.h-full.w-full > iframe {
  height: 350px;
}



/************* SIDEBAR *************/

/* sidebar height fix */
.h-\[calc\(100vh\+360px\)\].w-\[320px\] {
  height: fit-content !important;
}

/* coin stats 5m/1h/6h/24h */
/*.h-\[calc\(100vh\+360px\)\].w-\[320px\] > .relative.flex.min-h-\[64px\] {
  display: none;
}*/

/* coin stats 5m/1h/6h/24h wide chart */
.flex.flex-1.flex-col > .relative.flex.flex-row > .hidden.flex-col {
  display: none;
}

/* token info gaps */
.h-\[calc\(100vh\+360px\)\].w-\[320px\] > .flex > .flex.flex-col.flex-1,
.w-\[320px\].min-w-\[320px\].max-w-\[320px\] > .flex .flex-col > .flex.min-h-\[0px\] {
  gap: 4px;
}

/* token info stats */
.h-\[calc\(100vh\+360px\)\].w-\[320px\] .flex.h-\[55px\].w-full.flex-col.items-center,
.w-\[320px\].min-w-\[320px\].max-w-\[320px\] .flex.h-\[55px\].w-full.flex-col.items-center {
  gap: 6px !important;
  height: 52px;
}

/* dev, top 10, insiders, bundlers, global fees highlighting */
.rem-highlight-red {
  outline: 1px solid rgba(var(--primary-red) / 0.15) !important;
  border: 1px solid rgba(var(--primary-red) / 0.35) !important;
  background: rgba(var(--primary-red) / 0.125) !important;
  box-shadow: 0px 0px 8px 1px rgba(var(--primary-red) / 0.085);
  border-radius: 4px;
  transition: background 0.3s ease, border 0.3s ease;
  .text-textPrimary.text-\[14px\]
    {
        color: rgba(var(--primary-red) / 1);
    }
}

/* token info padding */
.h-\[calc\(100vh\+360px\)\].w-\[320px\] .flex.flex-col > .flex.flex-col.gap-\[16px\],
.w-\[320px\].min-w-\[320px\].max-w-\[320px\] .flex.flex-col > .flex.flex-col.gap-\[16px\]  {
    padding-bottom: 4px;
}

/* right side coin CA */
.h-\[calc\(100vh\+360px\)\].w-\[320px\] .flex.flex-col.gap-\[16px\].w-full > .border.border-primaryStroke\/70:first-child,
.w-\[320px\].min-w-\[320px\].max-w-\[320px\] .flex.flex-col.gap-\[16px\].w-full > .border.border-primaryStroke\/70:first-child {
  display: none;
}

/* right side dev ca */
.h-\[calc\(100vh\+360px\)\].w-\[320px\] .duration-125.flex.h-\[32px\].w-full.flex-row.items-center.justify-start,
.w-\[320px\].min-w-\[320px\].max-w-\[320px\] .duration-125.flex.h-\[32px\].w-full.flex-row.items-center.justify-start {
  margin-top: 6px;
  height: 32px;
  .text-\[14px\], .text-\[12px\] {
    font-size: 11px !important;
  }
}

/* right side dev wallet */
.h-\[calc\(100vh\+360px\)\].w-\[320px\] .flex.w-full.flex-col.items-start > .mb-\[8px\] .text-\[14px\],
.h-\[calc\(100vh\+360px\)\].w-\[320px\] .flex.w-full.flex-col.items-start > .mb-\[8px\] .text-\[12px\],
.w-\[320px\].min-w-\[320px\].max-w-\[320px\] .flex.w-full.flex-col.items-start > .mb-\[8px\] .text-\[14px\],
.w-\[320px\].min-w-\[320px\].max-w-\[320px\] .flex.w-full.flex-col.items-start > .mb-\[8px\] .text-\[12px\] {
  font-size: 11px !important;
}



/*******************************************/
/**************** REMASTERED ***************/
/*******************************************/

/**************** TOKEN HEADER *************/

/* token image mouse hover on meme page */
.group.relative.h-\[36px\].w-\[36px\] {
  /*pointer-events: none !important;*/

  /* hide token button */
  button:has(.ri-eye-off-line) {
      pointer-events: auto !important;
      scale: 1.5;
    }

  /* blacklist twitter profile button */
  button:has(.icon-at-off-line) {
      display: none;
    }
}

/* token image mouse hover on meme page -> twitter preview */
/*#pair-name-tooltip .ri-quill-pen-line::after,
#pair-name-tooltip .ri-user-line::after,
#pair-name-tooltip .ri-group-3-line::after {
  content: "";
  position: absolute;
  width: 56px;
  left: 4px;
  top: -2px;
  height: 62px;
  z-index: 21;
}*/

/* share token button  */
.contents > button:has(>.ri-share-line) {
  display: none;
}

/* megaphone lobby */
/*.relative.flex.max-h-\[64px\]:has(#pair-name-tooltip) button:has(i.ri-megaphone-line) {
  display: none !important;
}*/

/* set price alert */
.relative.flex.max-h-\[64px\]:has(#pair-name-tooltip) button:has(i.ri-alarm-add-line) {
  display: none !important;
}




/*************** MEME CONTAINER ************/

/* collapse sidebar button  */
#rem-meme-collapse-btn {
  transition: color 0.2s ease !important;
  color: #aaa !important;
  margin-right: -4px;
}

#rem-meme-collapse-btn:hover {
  color: #fff !important;
}

#meme-info-container {
  min-width: 2px !important;
  transition: min-width .075s ease, width .075s ease;
  transition-delay: 0.35s !important;
  border-bottom: none !important;
  border-radius: 0 !important;
}

#meme-info-container:hover {
  min-width: 321px !important;
  transition: min-width 0.05s ease !important;
  transition-delay: 0.2s !important;
}

.rem-inline-twitter {
  padding: 6px !important;
  width: 289px !important;
}

#rem-ticker {
  margin-top: -6px;
}

/* sidebar twitter */
.rem-tw-quote {
  background: #16223066;
  transition: background .15s ease;
}

.rem-tw-quote:hover {
  background: #18263588;
}

/* skeleton animation  */
@keyframes rem-shimmer {
  0% { background-position: -200% 0; }
  100% { background-position: 200% 0; }
}

.rem-skeleton {
  background: linear-gradient(90deg, rgba(255,255,255,0.03) 25%, rgba(255,255,255,0.08) 50%, rgba(255,255,255,0.03) 75%);
  background-size: 200% 100%;
  animation: rem-shimmer 1.5s infinite linear;
  pointer-events: none;
}




/***************** QUICK BUY ***************/

/* right sidebar mobile quick buy container & PnL widget */
.h-\[calc\(100vh\+360px\)\].w-\[320px\] .relative > .flex.h-full.sm\:hidden {
  display: flex;
  margin-bottom: -16px;
  > .flex.h-full > .flex.flex-col {
      display: none;
    }
}

/* quick buy container */
.rem-quick-buy-container {
  border-radius: 12px;
  border: 1px solid transparent;
  padding-bottom: 5px;
  padding-top: 5px;
  contain: content;
  transition: border 0.2s ease, background 0.2s ease;
}

/* Base styles when enabled based on modes */
.rem-quick-buy-container.rem-keys-enabled.mode-buy::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 8px;
  right: 8px;
  border-radius: 12px;
  border: 1px solid rgb(var(--increase) / 0.45);
  background: rgb(var(--increase) / 0.015);
}

.rem-quick-buy-container.rem-keys-enabled.mode-sell::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 8px;
  right: 8px;
  border-radius: 12px;
  border: 1px solid rgb(var(--decrease) / 0.45);
  background: rgb(var(--decrease) / 0.015);
} 

/* quick buy/sell buttons */
.rem-quick-buy-buttons button.rem-btn,
.rem-quick-sell-buttons button.rem-btn {
  border-radius: 8px;
  font-weight: 500;
  font-size: 14px;
  border-width: 1px;
  flex: 1 1 0%;
  height: 44px;
  cursor: pointer;
  transition: background 0.05s ease, color 0.05s ease, border-color 0.05s ease;
}

/* disabled state */
.rem-keys-disabled .rem-quick-buy-buttons button.rem-btn {
  color: rgb(var(--increase) / 1);
  border-color: rgb(var(--increase) / 0.5);
}

.rem-keys-disabled .rem-quick-buy-buttons button.rem-btn:hover {
  background: rgb(var(--increase) / 0.1) !important;
}

.rem-keys-disabled .rem-quick-sell-buttons button.rem-btn {
  color: rgb(var(--decrease) / 1);
  border-color: rgb(var(--decrease) / 0.5);
}

.rem-keys-disabled .rem-quick-sell-buttons button.rem-btn:hover {
  background: rgb(var(--decrease) / 0.1) !important;
}

/* enabled state */
.rem-keys-enabled .rem-quick-buy-buttons.active button.rem-btn {
  color: rgb(var(--increase) / 1);
  border-color: rgb(var(--increase) / 0.5);
  background: rgb(var(--increase) / 0.1);
}

.rem-keys-enabled .rem-quick-buy-buttons:not(.active) button.rem-btn {
  color: rgb(var(--increase) / 0.25);
  border-color: rgb(var(--increase) / 0.25);
}

.rem-keys-enabled .rem-quick-sell-buttons.active button.rem-btn {
  color: rgb(var(--decrease) / 1);
  border-color: rgb(var(--decrease) / 0.5);
  background: rgb(var(--decrease) / 0.1);
}

.rem-keys-enabled .rem-quick-sell-buttons:not(.active) button.rem-btn {
  color: rgb(var(--decrease) / 0.25);
  border-color: rgb(var(--decrease) / 0.25);
}




/**************** PnL MIRROR ***************/

#rem-mirrored-pnl-percentage {
  contain: layout style;
}

#rem-mirrored-pnl-percentage span {
  font-size: 14px;
  margin-right: 10px;
}

#rem-mirrored-pnl-percentage svg { margin-right: 6px; }




/************* PULSE CLONE MENU ************/

#rem-menu {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50% !important;
  height: 32px; 
  width: 32px;
  align-self: center;
  transition: background 0.2s ease;
  margin-left: 8px !important;
}

#rem-menu.disabled {
  pointer-events: none !important;
  opacity: 0.3;
  filter: grayscale(1);
}

#rem-menu:hover {
  background: rgb(var(--secondary-stroke) / .8);
}

#rem-menu .rem-dropdown {
  position: absolute;
  right: 0;
  top: 100%;
  padding-top: 6px;
  z-index: -9999;
  min-width: 250px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform-origin: top right;
  transform: translateY(-4px) scale(0.98);
  transition: opacity 150ms ease, transform 150ms ease, visibility 0s linear 300ms; 
}

#rem-menu .rem-dropdown::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 12px; 
  background: transparent;
}

#rem-menu.rem-open .rem-dropdown {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateY(0) scale(1);
  transition-delay: 0.4s;
  z-index: 9999;
}

#rem-menu .rem-dropdown-inner {
  padding: 6px;
  background: #121212; /* Fallback */
  background: rgba(var(--background-tertiary));
  border: 1px solid rgba(var(--primary-stroke), 0.5);
  border-radius: 8px;
  box-shadow: 0 12px 32px rgba(0, 0, 0, 0.5);
}

#rem-menu .rem-dropdown button,
#rem-menu .rem-dropdown a,
#rem-menu .rem-dropdown input {
  pointer-events: auto;
}

.rem-pulse-clone-menu-enabled #platform-layout > div:first-child {
  overflow: visible !important;
}

.rem-pulse-clone-menu-enabled #platform-layout-container > .flex.h-full.w-full > .flex.w-full.flex-none {
  display: none;
}

.rem-pulse-clone-menu-enabled #platform-layout-container > .flex.h-full.w-full {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
}




/**************** PUMP IMAGE ***************/

.pump-image-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.35s ease;
}

.pump-image-modal.active {
  opacity: 1;
  pointer-events: all;
}

.modal-pump-content {
  max-width: 100%;
  max-height: 100%;
  transform: scale(0.75);
  transition: transform 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.pump-image-modal.active .modal-pump-content {
  transform: scale(1.05);
}

.modal-pump-image {
  max-height: 30vw;
  min-height: 23vw;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

#rem-pump-image {
    filter: saturate(0.75);
    transition: filter 0.2s ease;
    cursor: pointer;
}

#rem-pump-image:hover {
    filter: saturate(1);
}

.rem-no-desc {
  opacity:0.5;
}

.rem-img-desc-cont img.rem-left {
  float: left;
  width: 120px;
  min-width: 95px;
  max-width: 33%;
  margin: 0px 14px 0px 0;
  border-radius: 8px;
  object-fit: cover;
  cursor: pointer;
}

#rem-ticker > span {
  color: rgb(var(--text-primary) / var(--tw-text-opacity, 1)) !important;
}

#rem-name > span {
  display: block;
  margin-top: 6px;
  margin-bottom: 8px;
  font-size: 13px !important;
  color: rgb(var(--text-tertiary) / var(--tw-text-opacity, 1)) !important;
}

.rem-img-desc-cont .rem-desc-flow::after {
  content: "";
  display: table;
  clear: both;
}

.rem-img-desc-cont .rem-text {
  line-height: 1.45 !important;
  font-size: 12.2px !important;
  color: rgb(var(--text-tertiary) / var(--tw-text-opacity, 1)) !important;
  display: block;
}

.rem-desc-flow {
  margin-top: 10px !important;
  /*border-bottom: 1px solid rgba(91, 96, 117, 0.15);*/
  padding-bottom: 10px;
}

#rem-quick-search i {
    color: rgb(var(--text-tertiary) / var(--tw-text-opacity, 1));
}




/*************** INSTANT TRADE **************/

.fixed.left-0.top-0.z-50:has(#instant-trade) {
  position: absolute !important;
}

#instant-trade {
  border-radius: 6px;
  opacity: 0.45;
  transition: opacity .7s ease .25s, filter .7s ease .25s !important;
  transition-delay: .25s !important;
  filter: saturate(1.35) !important;
}

#instant-trade:hover {
  opacity: 1;
  filter: saturate(1) !important;
  transition-delay: 0s !important;
  transition: opacity 0.05s ease !important;
}

.relative.z-50:has(#instant-trade) {
  backdrop-filter: blur(3px) !important;
  filter: saturate(0.8);
}

/* instant trade limit sell button */
#rem-limit-sell-btn {
  min-width: 46px;
  padding-left: 2px;
  flex-direction: column;
}

/* instant trade limit sell buttons */
#rem-limit-sell-btn-exec, #rem-limit-sell-btn-close {
  height: 28px;
}

/* instant trade stop loss percentage */
#rem-limit-pct-display {
  width: 21px;
  font-size: 9px;
}

/* instant trade */
#instant-trade .bg-backgroundTertiary.cursor-move {
  height: 38px;
  button {
    padding: 1.5px !important;
    span, i {
      font-size: 12.5px;
    }
  }
}

/* instant trade buy & sell buttons */
#instant-trade .cursor-pointer.border-increase\/50.text-increase.touch-callout-none,
#instant-trade .cursor-pointer.border.border-decrease\/50.text-decrease.touch-callout-none {
    height: 52px;
    border-radius: 6px;
}

#instant-trade span {
  font-size: 10px !important;
}

/* bottom row Pnl text size */
#instant-trade .flex.h-\[32px\].cursor-pointer .text-\[12px\],
#instant-trade .flex.h-\[32px\].cursor-pointer .text-\[12px\] span {
  font-size: 13px !important;
}




/************** FEES PROGRESS BAR *************/

/* coin card fees progress bar */
.rem-fee-steps-container {
  bottom: -60px !important;
  right: -10px !important;
  width: 21px !important;
  border-radius: 0px !important;
  height: 4px !important;
  transform: scaleX(-1);
  z-index: 50 !important;
  gap: 3px !important;
}

.rem-fee-steps-container > .bg-pump {
  border-radius: 0px !important;
  background: rgb(var(--primary-green));
  opacity: 0.85 !important;
}

.rem-fee-steps-container > .bg-secondaryStroke\/50 {
  background: none !important;
}




/**************** PRICE CHARTS ***************/

/* HIDE QUICK BUY BUTTON */
.flex.flex-1.w-full div[style*="position: absolute"] .absolute:has(button.group\/quickBuyButton) { opacity: 0 !important; pointer-events: none !important; }
/*.flex.flex-1.w-full div[style*="position: absolute"]:hover .absolute:has(button.group\/quickBuyButton) { opacity: 1 !important; }
.flex.flex-1.w-full div[style*="position: absolute"] .absolute .border:has(.h-full.w-full) { opacity: 0 !important; }
.flex.flex-1.w-full div[style*="position: absolute"]:hover .absolute .border:has(.h-full.w-full) { opacity: 1 !important; }
.flex.flex-1.w-full div[style*="position: absolute"]:hover .rem-price-chart { z-index: 9999; visibility: hidden; }*/

.rem-price-chart,
.rem-live-price-chart {
  background-color: transparent !important;
  background: none !important;
  position: absolute;
  right: 1.5%;
  bottom: 2px;
  font-size: 6px;
  justify-content: flex-end;
  display: flex;
  z-index: 50;
  overflow: hidden;
  visibility: visible;
  pointer-events: none;
  contain: strict layout paint size style;
  will-change: transform;
}

/* migrating coins */
.flex.flex-1.w-full div[style*="position: absolute"] .before\:bg-gradient-to-r .rem-price-chart,
.flex.flex-1.w-full div[style*="position: absolute"] .before\:bg-gradient-to-r .rem-live-price-chart
{
  opacity: 0.2;
  z-index: -999;
}




/************* MARKET CAP COLORS ************/

/* default bg clear fix */
.w-full.h-full > .absolute.z-10.block .relative .absolute.z-0 * {
    background: none !important;
}

@property --rem-mc-pct {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 100%;
}

@property --rem-mc-color {
  syntax: '<color>';
  inherits: false;
  initial-value: transparent;
}

.rem-mc-animated {
  background: linear-gradient(to right, #00000000 var(--rem-mc-pct), var(--rem-mc-color));
  transition: --rem-mc-pct 0.13s ease-out, --rem-mc-color 0.13s ease-out;
}




/****************** HOLDERS *****************/

/* WALLET AGE */
div[style*="position: absolute"]:not(:has(.ri-water-flash-line.text-blue-500))
.rem-age-wrapper {
  position: relative;
  isolation: isolate;
}

div[style*="position: absolute"]:not(:has(.ri-water-flash-line.text-blue-500))
.rem-age-wrapper::before {
  content: '';
  position: absolute;
  top: 15px;
  height: 18px;
  left: 16px;
  width: 55%;
  aright: 40px;
  border-radius: 4px; 
  z-index: -1;
  pointer-events: none;
}

div[style*="position: absolute"]:not(:has(.ri-water-flash-line.text-blue-500))
.rem-age-red::before {
  background-color: rgb(var(--primary-red) / 0.27);
}

div[style*="position: absolute"]:not(:has(.ri-water-flash-line.text-blue-500))
.rem-age-yellow::before {
  background-color: rgb(var(--primary-yellow) / 0.24);
}

/* BALANCE GRADIENTS */
.rem-balance-0, .rem-balance-1, .rem-balance-2, .rem-balance-3, .rem-balance-4, .rem-balance-5 {
  position: relative;
}

/* PERCENTAGE GRADIENTS  */
.rem-percentage-0, .rem-percentage-1, .rem-percentage-2, .rem-percentage-3, .rem-percentage-4, .rem-percentage-5 {
  position: relative;
  overflow: visible !important;
}

.rem-percentage-0::before, .rem-balance-0::before {
  content: "";
  position: absolute;
  background: linear-gradient(
    to right,
    transparent -120px,
    rgba(82,197,255,0.1) 2%,
    transparent calc(100% - 98%)
  );
  margin-top: -16px;
  height: 48px;
  inset: 0;
}

.rem-percentage-1::before, .rem-balance-1::before {
  content: "";
  position: absolute;
  background: linear-gradient(
    to right,
    transparent -120px,
    rgba(82,197,255,0.125) 10%,
    transparent calc(100% - 90%)
  );
  margin-top: -16px;
  height: 48px;
  inset: 0;
}

.rem-percentage-2::before, .rem-balance-2::before {
  content: "";
  position: absolute;
  background: linear-gradient(
    to right,
    transparent -120px,
    rgba(82,197,255,0.2) 20%,
    transparent calc(100% - 80%)
  );
  margin-top: -16px;
  height: 48px;
  inset: 0;
}

.rem-percentage-3::before, .rem-balance-3::before {
  content: "";
  position: absolute;
  background: linear-gradient(
    to right,
    transparent -120px,
    rgba(82,197,255,0.2) 35%,
    transparent calc(100% - 65%)
  );
  margin-top: -16px;
  height: 48px;
  inset: 0;
}

.rem-percentage-4::before, .rem-balance-4::before {
  content: "";
  position: absolute;
  background: linear-gradient(
    to right,
    transparent -120px,
    rgba(82,197,255,0.2) 60%,
    transparent calc(100% - 40%)
  );
  margin-top: -16px;
  height: 48px;
  inset: 0;
}

.rem-percentage-5::before, .rem-balance-5::before {
  content: "";
  position: absolute;
  background: linear-gradient(
    to right,
    transparent -120px,
    rgba(82,197,255,0.3) 97%,
    transparent calc(100% - 3%)
  );
  margin-top: -16px;
  height: 48px;
  inset: 0;
}

div[style*="position: absolute"]:has([alt="Developer"]) .rem-percentage-0::before {
  content: "";
  position: absolute;
  background: linear-gradient(
    to right,
    transparent -100px,
    rgba(255,255,100,0.1) 2%,
    transparent calc(100% - 99%)
  );
  margin-top: -16px;
  height: 48px;
  inset: 0;
}

div[style*="position: absolute"]:has([alt="Developer"]) .rem-percentage-1::before {
  content: "";
  position: absolute;
  background: linear-gradient(
    to right,
    transparent -100px,
    rgba(255,255,100,0.15) 15%,
    transparent calc(100% - 85%)
  );
  margin-top: -16px;
  height: 48px;
  inset: 0;
}

div[style*="position: absolute"]:has([alt="Developer"]) .rem-percentage-2::before {
  content: "";
  position: absolute;
  background: linear-gradient(
    to right,
    transparent -100px,
    rgba(255,255,100,0.2) 25%,
    transparent calc(100% - 75%)
  );
  margin-top: -16px;
  height: 48px;
  inset: 0;
}

div[style*="position: absolute"]:has([alt="Developer"]) .rem-percentage-3::before {
  content: "";
  position: absolute;
  background: linear-gradient(
    to right,
    transparent -100px,
    rgba(255,255,100,0.25) 47%,
    transparent calc(100% - 53%)
  );
  margin-top: -16px;
  height: 48px;
  inset: 0;
}

div[style*="position: absolute"]:has([alt="Developer"]) .rem-percentage-4::before {
  content: "";
  position: absolute;
  background: linear-gradient(
    to right,
    transparent -100px,
    rgba(255,255,100,0.3) 70%,
    transparent calc(100% - 30%)
  );
  margin-top: -16px;
  height: 48px;
  inset: 0;
}

div[style*="position: absolute"]:has([alt="Developer"]) .rem-percentage-5::before {
  content: "";
  position: absolute;
  background: linear-gradient(
    to right,
    transparent -100px,
    rgba(255,255,100,0.45) 98%,
    transparent calc(100% - 2%)
  );
  margin-top: -16px;
  height: 48px;
  inset: 0;
}

div[style*="position: absolute"] .bg-transparent:has(i.ri-water-flash-line.text-blue-500) .rem-percentage-1::before,
div[style*="position: absolute"] .bg-transparent:has(i.ri-water-flash-line.text-blue-500) .rem-percentage-2::before,
div[style*="position: absolute"] .bg-transparent:has(i.ri-water-flash-line.text-blue-500) .rem-percentage-3::before,
div[style*="position: absolute"] .bg-transparent:has(i.ri-water-flash-line.text-blue-500) .rem-percentage-4::before,
div[style*="position: absolute"] .bg-transparent:has(i.ri-water-flash-line.text-blue-500) .rem-percentage-5::before,
div[style*="position: absolute"] .bg-primaryStroke\/20:has(i.ri-water-flash-line.text-blue-500) .rem-percentage-1::before,
div[style*="position: absolute"] .bg-primaryStroke\/20:has(i.ri-water-flash-line.text-blue-500) .rem-percentage-2::before,
div[style*="position: absolute"] .bg-primaryStroke\/20:has(i.ri-water-flash-line.text-blue-500) .rem-percentage-3::before,
div[style*="position: absolute"] .bg-primaryStroke\/20:has(i.ri-water-flash-line.text-blue-500) .rem-percentage-4::before,
div[style*="position: absolute"] .bg-primaryStroke\/20:has(i.ri-water-flash-line.text-blue-500) .rem-percentage-5::before {
  background: none !important;
}

/* holders percentage progress bar */
div[style*="position: absolute"] .flex.flex-col.flex-1.justify-center.items-start.gap-2 > .mb-1.bg-primaryStroke\/50.rounded-full.overflow-hidden {
  display: none;
}

/* liquidity pool under holders */
div[style*="position: absolute"]:has(i.ri-water-flash-line.text-blue-500) * {
  color: rgb(59 130 246/var(--tw-text-opacity,1)) !important;
  background: none !important;
}

div[style*="position: absolute"] .bg-transparent:has(i.ri-water-flash-line.text-blue-500),
div[style*="position: absolute"] .bg-primaryStroke\/20:has(i.ri-water-flash-line.text-blue-500) {
  .rem-balance-1::before, .rem-balance-2::before, .rem-balance-3::before,
  .rem-balance-4::before, .rem-balance-5::before {
  background: none !important;
  }  
}

/* holders pro trader icons */
div[style*="position: absolute"] .bg-transparent [alt="Pro User"], .bg-primaryStroke\/20 [alt="Pro User"] {
  filter: invert(10%) sepia(90%) saturate(350%);
}




/**************** TWITTER FEED ***************/

.remastered-twitter-feed-search #iframe-twitter-feed-search {
  height: 650px;
  width: 462px !important;
  margin: 0;    
  margin-left: -60px;
  margin-top: -135px;
  margin-bottom: -24px;
  overflow: hidden !important;
  display: block;
  zoom : 80%;
  border: none;
  pointer-events: auto;
  clip-path: inset(0px 20px 0px 60px);
}

.remastered-twitter-feed-profile #iframe-twitter-feed-profile {
  height: 650px;
  width: 462px !important;
  margin: 0;    
  margin-left: -7px;
  margin-top: -50px;
  margin-bottom: -24px;
  overflow: hidden !important;
  display: block;
  zoom : 71.5%;
  border: none;
  pointer-events: auto;
  clip-path: inset(0px 20px 0px 10px);
}

.remastered-twitter-feed {
    width: 310px !important;
    position: relative;
    overflow: hidden !important;
    border-radius: 0px 0px 12px 12px;
}

.fade-mask-container {
  position: relative;
  overflow: hidden;
}

.fade-mask-container::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -10px;
  height: 40px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 5%, rgba(0, 0, 0, 0.85) 100%);
  border-radius: 12px;
  pointer-events: none;
  z-index: 2;
}

.u-d-none.u-d-block-lg.p-show__widget.u-p-0.js-buy-section#remastered-x-feed {
    order: 3 !important;
    margin-bottom: 8px !important;
    
}

.u-d-none.u-d-block-lg.p-show__widget.u-p-0.js-buy-section#remastered-x-feed:has(.is-expanded) {
    box-shadow: rgba(205, 205, 205, 0.15) 0px 0px 3px 0px;
}

#remastered-x-feed #remastered-x-feed-title {
    padding-bottom: 0px;
    transition: padding 0.3s ease;
}

#remastered-x-feed:has(.is-expanded) #remastered-x-feed-title {
    padding-bottom: 10px;
    transition: padding 0.5s ease;
}

#remastered-x-feed-title a {
    scale: 1.4;
    color: #8E9DFF;
    transition: color 0.3s ease;
}

#remastered-x-feed-title a:hover {
    
    color: rgba(255, 255, 255, 0.95);
    transition: color 0.3s ease;
}

span.rem-x-title {
    padding-left: 16px;
    margin-top: 1px;
}

#remastered-x-feed .p-show__collapsible__title.js-show__collapsible.u-d-block.js-data-security {
    border-radius: 6px;
    color: rgba(255, 255, 255, 0.95);
}

#remastered-x-feed .p-show__collapsible__title.js-show__collapsible.u-d-block.js-data-security.is-expanded {
    /*background: #1e1e1e;
    transition: background 0.5s ease;*/
    border-radius: 6px 6px 0px 0px;
}

#remastered-x-feed .p-show__collapsible__arr {
    border-left: none;
}




/************ TWITTER PULSE PREVIEW ***********/

.remastered-x-pulse-feed-hoverable {
  border-bottom: 2px dotted rgb(var(--primary-green));
}

#remastered-x-pulse-feed {
    width: 445px !important;
    height: 374px !important;
    position: relative;
    overflow: hidden !important;
    border-radius: 8px;
    border: 1px solid rgb(var(--border-subtle));
    box-shadow: 0 0 8px 2px rgba(0,0,0,0.85) !important;
    background: none !important;
    background: rgb(var(--background-tertiary)) !important;
}

#remastered-x-pulse-feed iframe {
  width: 620px !important;
  height: 690px !important;
  margin-left: -8px;
  margin-top: -50px;
  overflow: hidden !important;
  display: block;
  border-radius: 8px;
  zoom : 75%;
  border: none;
  pointer-events: auto;
  clip-path: inset(0px 0px 0px 4px);
  background: rgb(var(--background-tertiary)) !important;
}




/***************** LIVE STREAM ****************/

#pump-video-container.pump-video-hidden {
  display: none !important;
}

.pump-mute-btn, .pump-fs-btn {
  outline: none !important;
  filter: saturate(0);
  scale: 0.85;
}

.pump-mute-btn:hover, .pump-fs-btn:hover {
  filter: brightness(1.5) saturate(0);
}

.pump-retry-btn {
  padding-bottom: 10px;
}

.pump-min-controls {
  opacity: 0;
  pointer-events: none;
  transform: translateY(6px);
  transition: opacity 180ms ease, transform 180ms ease;
}

.pump-playback:hover .pump-min-controls,
.pump-min-controls.show,
.pump-min-controls.visible {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

.pump-min-controls {
  z-index: 9999;
}




/*************** CHART MIRRORING **************/

#rem-mirror-btn.streaming i {
  color: rgb(var(--primary-color));
}

#rem-mirror-cards-wrapper {
    display: flex;
    gap: 14px !important;
    padding: 0px !important;
    align-items: flex-end;
}

#rem-mirror-cards {
    position: fixed;
    right: 28px;
    bottom: 44px;
    width: auto;
    height: auto;
    overflow-x: auto;
    z-index: 99999;
    display: flex;
    flex-direction: row;
    pointer-events: auto;
    border-radius: 6px;
    justify-content: flex-end;
    align-items: flex-end;
    overflow: visible;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 10px; 
    transform: translateX(0%);
    transition: transform 0.2s ease-in-out;
}

#rem-mirror-cards.collapsed {
  transform: translateX(125%) !important;
  z-index: 0;
}

.rem-mirror-handle {
  position: fixed;
  right: 10px;
  bottom: 44px;
  width: 18px;
  height: 80px;
  border-radius: 4px;
  z-index: 9999;
  background: rgba(65,85,140, 0.65);
  color: #999;
  font-size: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0px 2px 14px 2px rgba(0, 0, 0, 0.8);
  transition: transform .1s ease, background .1s ease;
  user-select: none;
}

.rem-mirror-handle:hover {
  background: rgb(65,85,140);
  color: #eee;
}

.rem-mirror-card {
    position: relative;
    width: 160px;
    height: 80px;
    background: #0f1720;
    border-radius: 6px;
    overflow: visible;
    box-shadow: 0px 2px 14px 2px rgba(0, 0, 0, 0.8);
    outline: 2px solid rgba(65,90,130,0.95);
    transition: transform .05s ease, filter .15s ease, box-shadow .15s ease;
    transform-origin: center bottom;
    z-index: 1;
}

.rem-mirror-card:hover {
    transform: scale(1.25);
    filter: brightness(1.25);
    cursor: pointer;
    box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 1);
    will-change: transform;
    z-index: 99999;
}

.rem-mirror-header {
  display: none !important;
}

.rem-mirror-title {
    position: absolute;
    top: -1px;
    left: 8px;
    padding: 1.5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
    color: #fff;
    font-weight: 500;
    text-shadow: 0px 1px 1px #000000bb;
    border-radius: 4px;
    background: rgb(65,90,130);
    outline: 2px solid rgb(65,90,130);
    transition: opacity .15s ease, transform .15s ease, font-size .05s ease;
    transform: translateY(-16px);
    z-index: 30;
    opacity: 1 !important;
}

.rem-mirror-card:hover .rem-mirror-title {
    top: 0px;
    font-size: 9.7px;
}

.rem-mirror-btn-kill {
    position: absolute;
    top: -1px;
    right: -1px;
    font-size: 11px;
    font-weight: 600;
    outline: none !important;
    color: #fff;
    background: rgba(65,90,130,0.65);
    border-radius: 4px;
    padding: 2px 6px;
    cursor: pointer; 
    z-index: 30;
    opacity: 0;
    transition: opacity .1s ease, background .15s ease, color .15s ease;
}

.rem-mirror-btn-kill:hover {
    background: rgba(var(--primary-color) / 0.8);
    color: #000;
}

.rem-mirror-card:hover .rem-mirror-btn-kill {
    opacity: 1;
}

.rem-mirror-card img {
    position: absolute;
    height: 100% !important;
    object-fit: cover !important;
    object-position: calc(100% + 3px) center !important;
    display: block;
    border-radius: 6px;
    filter: brightness(1.6) contrast(1.25) saturate(1.1);
    /*transition: filter .15s ease;*/
    /*outline: 1px solid rgba(var(--primary-color) / 0.45);*/
    transition: filter .15s ease, opacity .18s ease;
    outline: none;
    background: #0f1720;
    opacity: 0;
    will-change: opacity;
}

.rem-mirror-toast {
  position: fixed;
  top: 40px;
  left: 42%;
  background: rgba(var(--primary-red) / 0.75);
  border: 1px solid rgba(var(--primary-stroke) / 1);
  color: #fff;
  padding: 10px 76px;
  border-radius: 8px;
  font-size: 14px;
  box-shadow: 0 0 8px 1px #00000066;
  z-index: 999999;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}
